.menu-div {
    display: block;
    position: absolute;
    left: 45%;
    top: 35%;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    padding: 10px;
}

button{
    padding: 8px 16px;
    border-radius: 20%;
}